//Define rules in here.

//http://designmodo.github.io/Flat-UI/

$turquoise: #1abc9c;
$greenSea: #16a085;

$emerland: #2ecc71;
$nephritis: #27ae60;

$peterRiver: #3498db;
$belizeHole: #2980b9;

$amethyst: #9b59b6;
$wisteria: #8e44ad;

$wetAsphalt: #34495e;
$midnightBlue: #2c3e50;

$sunFlower: #f1c40f;
$orange: #f39c12;

$carrot: #e67e22;
$pumpkin: #d35400;

$alizarin: #e74c3c;
$pomegranate: #c0392b;

$clouds: #ecf0f1;
$silver: #bdc3c7;

$concrete: #95a5a6;
$asbestos: #7f8c8d;

//http://www.sgtradingpost.com/UserFiles/File/Pantone%20Color%20Chart%20(PMS).pdf


$softOrange: #f7a30a;//PMS-137
$softRed: adjust-hue($softOrange, -20deg);

$bigFonts: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
$logoFont: $bigFonts;
$offwhite: #f4f4f4;
$logoOnWhiteColor: #424a52;
$logoOnBlackColor: $offwhite;
$logoTextColor: $offwhite;

//capsule settings

$base-em: 16px;

$primary-color: $softOrange;
$input-border-width: 0px;
$button-border-style: none!important;
$input-box-shadow: none;
$button-box-shadow: false;
$input-bg-color: $offwhite;

$logoFactor: 1;
$baseLogoFactor: 3;
$baseLogoEmSize: $logoFactor * $base-em;
$baseLogoSize: $baseLogoEmSize * $baseLogoFactor;