@import "global";

@import "capsule";


body {
	background-color: #0c0c0c;
	background-image: url('../images/dots.svg');
	color: #f4f4f4;
}

h1, h2 {
 font-family:$bigFonts;
 font-weight: bold;
 //text-transform: uppercase;
 color: $softOrange;
 text-shadow:0px 6px 6px #121212;
}
a:link, a:visited {
  color: darken($softOrange,5%);
}
a:hover {
  color: darken($softRed,5%);
}
ul, li {
	&.nodots {
		list-style: none;
		padding: 0;
		margin-left: 0;
	}
}

#logo {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	font-family: $logoFont;
	color: $logoTextColor;
	//text-transform: uppercase;
	font-size: $baseLogoSize;
	img,object {
		height: 1em;
		vertical-align: bottom;
	}
	@media only screen and (min-width : 486px) {
		font-size: $baseLogoEmSize * ($baseLogoFactor+2);
	}
	@media only screen and (min-width : 768px) {
		font-size: $baseLogoEmSize * ($baseLogoFactor+4);
	}
	@media only screen and (min-width : 1024px) {
		font-size: $baseLogoEmSize * ($baseLogoFactor+6)
	}
	margin-bottom: $base-em;
	margin-top: $base-em;
}
.right-o {
	text-align: right;
}
.newsForm input {
	transition: 0.5s;
	width: 100%;
}
input.success {
	border: none;
	padding: 2pt;
	background: transparent!important;
	-webkit-transform: rotateX(360deg);
	transition: -webkit-transform 1s, color 1s, background 1s;
	color: $offwhite;
	box-shadow: none!important;
	-webkit-box-shadow: none!important;
	-moz-box-shadow: none!important;
}
input.error:not(:focus) {
	color: $offwhite;
}
input {
    -webkit-appearance: none;
    border-radius: 0;
}