- var title = false
doctype 5
html(ng-app="cordite")
	block vars
	head
		title Cordite Studios
			if title
				|  - #{title}
		meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1")
		//link(href="assets/css/_capsule.css", rel="stylesheet")
		link(href="assets/css/_main.css", rel="stylesheet")
		include ie.html
		script(src="//cdn.jsdelivr.net/angularjs/1.1.2/angular.min.js")
		script(src="assets/js/modernizr.js")
		//link(rel="stylesheet", href="http://basehold.it/16/ffffff")
	body
		header#logo
			//span Cordite Studios
			img(src="assets/images/cordite.svg", data-svg-image, alt="Cordite Studios")
		section#main.row
			block content
		footer
		script(src="assets/js/_main.js")