h1 Newsletter
p In case something cool happens...
p Want to get on a newsletter?
form.newsForm(ng-submit="addListener()")
	.row.collapse
		.small-8.columns
			input(type="email", 
				ng-model="email", 
				placeholder="you@example.com", 
				ng-class="{success: success, error: fail}", 
				ng-disabled="dis")
		.small-4.columns
			button.flat-button.postfix(ng-hide="dis")
				| Sign Up
			button.flat-button.postfix.success(
				ng-show="dis", 
				ng-disabled="dis")
				| Thanks!
	small.error(ng-show="fail")
		{{fail}}
script(src="assets/js/_news.js")