extends _master


block content
	.columns.small-12.large-8
		h1 Who are we?
		p An overconfident small team with a novel angle for design.

		h1 What are we doing? 
		p
			| We have a few projects, some unrelated
			ul.semi-spaced
				li
					a(href="//centur.us") centur.us
					|	micro-services for social applications
				li
					a(href="lmdvvyd.html") LMDVVYD
					|	an event-oriented union-schema database
			| Our purpose is to bring out new ideas for designing the future for users.
	.columns.small-12.large-4(ng-controller="Newslister")
		include _newsletter.jade