extends _master

block vars
	- title = "LMDVVYD"

block content
	.columns.small-12
		a(href="./") Main Page
	.columns.small-12.large-10
		:markdown
			#So what is LMDVVYD?
			
			A database made for concurrent distributed systems across machines, processes, and languages. Arbitrary schemas can be specified and the data will be merged based on the properties applied to each object. At any time, one object can gain a property and lose a property.

			##What's a property?
			
			A name or category that an object can have, where each property has an associated schema that implementing objects must provide. These schemas provide default values for ease of use.

			##What's the point?

			This kind of database would allow a type-safe information distribution system for highly decoupled components and systems.

			##What's with the name?
			LMDVVYD is a play on the word "union" in hebrew, which is spelled **Lamed Vav Yod**. However, hebrew omits the vowels. So it can also be "Yud" instead of "Yod". 

			----
			*More will be added later!*

	.columns.large-2
		img(src="assets/images/lmdvvyd-white.svg", alt="", data-svg-image)